body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    color: #333;
}

.calendario-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #3433a169; /* Color del encabezado */
}

.calendario {
    display: flex;
    flex-direction: column;
}

.header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: #3433a169;
    color: white;
    padding: 10px 0;
}

.dia {
    text-align: center;
    padding: 10px 0;
}

.fechas {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.fecha {
    border: 1px solid #3433a169;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    transition: background-color 0.3s;
}

.fecha:hover {
    background-color: #3433a169;
    color: white;
}
